@page
@model RFQ.MyFeature.Pages.Page1Model
@{ 
    ViewData["Title"] = "RFQ";
}

<h1>RFQ View</h1>
<h5>@DateTimeOffset.Now</h5>

<div class="container">
    <input class="form-control" placeholder="First Name" />
    <br />
    <input class="form-control" placeholder="Last Name" />
</div>